<div [@routerTransition]>
  <div class="m-subheader">
    <div class="row align-items-center">
        <div class="mr-auto col-auto">
            <h3 class="m-subheader__title">
                <span>Danh sách chấm nhuận</span>
            </h3>
            <div class="m-section__sub">
              Tổng nhuận: 100.000.000
            </div>
        </div>
        <div class="col text-right mt-3 mt-md-0">
            <button class="btn btn-primary"><i class="fa fa-plus"></i> Đồng bộ IMS</button>
        </div>
    </div>
</div>
  <div class="m-content">
      <div class="m-portlet m-portlet--mobile">
          <div class="m-portlet__body">
              <form class="horizontal-form" autocomplete="off">
                  <div class="m-form m-form--label-align-right">
                      <div class="row align-items-center m--margin-bottom-10">
                          <div class="col-xl-12">
                              <div class="form-group m-form__group align-items-center">
                                  <div class="input-group">
                                      <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                      <span class="input-group-btn">
                                          <button class="btn btn-primary" type="submit"><i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i></button>
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="" [hidden]="!advancedFiltersAreShown">
                        <div class="m-accordion__item-content">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="tungay">Từ ngày</label>
                                        <input type="date" class="form-control m-input m-input--square" id="tungay" placeholder="Từ ngày">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="tungay">Đến ngày</label>
                                        <input type="date" class="form-control m-input m-input--square" id="tungay" placeholder="Từ ngày">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="tungay">MNS/Họ và tên</label>
                                        <input type="text" class="form-control m-input m-input--square" id="tungay" placeholder="Họ và tên">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="tungay">Chọn chuyên mục</label>
                                        <select class="form-control form-control-sm form-filter m-input" title="Select">
                                            <option value="">Select</option>
                                            <option value="Argentina">Argentina</option>
                                            <option value="Austria">Austria</option>
                                            <option value="China">China</option>
                                            <option value="Colombia">Colombia</option>
                                            <option value="Croatia">Croatia</option>
                                            <option value="Indonesia">Indonesia</option>
                                            <option value="Thailand">Thailand</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="tungay">Loại bài</label>
                                        <select class="form-control form-control-sm form-filter m-input" title="Select">
                                            <option value="">Select</option>
                                            <option value="Argentina">Argentina</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="tungay">Tag (Dòng trạng thái)</label>
                                        <input type="text" class="form-control m-input m-input--square" id="dongtrangthai" placeholder="Tag( Dòng trạng thái)">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="tungay">Trạng thái</label>
                                        <select class="form-control form-control-sm form-filter m-input" title="Select">
                                            <option value="">Select</option>
                                            <option value="Argentina">Argentina</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="tungay">Đánh giá</label>
                                        <select class="form-control form-control-sm form-filter m-input" title="Select">
                                            <option value="">Select</option>
                                            <option value="Argentina">Argentina</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>

                      <div class="row margin-bottom-10" *ngIf="advancedFiltersAreShown">
                          <div class="col-sm-12 text-right">
                              <button class="btn btn-metal"><i class="fa fa-sync"></i> {{"Refresh" | localize}}</button>
                          </div>
                      </div>
                      <div class="row margin-bottom-10">
                          <div class="col-sm-12">
                              <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{"ShowAdvancedFilters" | localize}}</span>
                              <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{"HideAdvancedFilters" | localize}}</span>
                          </div>
                      </div>
                  </div>
              </form>

                  <!--<Primeng-TurboTable-Start>-->
                    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll" id="scrolling_both" 
                    [busyIf]="primengTableHelper.isLoading">
                        <div class="scrolling" style="overflow: scroll" >
                            <!--begin: Datatable -->
                            <table class="table table-striped- table-bordered table-hover table-checkable table-custom" style="width: max-content;display: block;font-family: sans-serif;" id="m_table_1">                                
                                <thead>
                                    <tr>
                                        <th rowspan="2">
                                            #
                                        </th>
                                        <th colspan="8">Thông tin chung</th>
                                        <th colspan="2">Đánh giá</th>
                                        <th colspan="2">Nhuận ảnh</th>
                                        <th colspan="2">Nhuận clip dowload</th>
                                        <th rowspan="2" style="width: 95px;">Nhuận clip sx</th>
                                        <th rowspan="2" style="width: 95px;">Nhuận bài</th>
                                        <th rowspan="2" style="width: 95px;">Hệ số</th>
                                        <th rowspan="2" style="width: 95px;">Thưởng/Phạt</th>
                                        <th rowspan="2" style="width: 95px;">Tổng nhuận</th>
                                        <th rowspan="2" style="width: 125px;">Tông view</th>
                                        <th rowspan="2" style="width: 95px;">Trạng thái</th>
                                        <th rowspan="2" style="width: 95px;">Ghi chú</th>
                                        <th rowspan="2" style="width: 120px;">Hành động</th>
                                    </tr>
                                    <tr>
                                        <th style="width: 80px;">Mã tin</th>
                                        <th style="width: 125px;">Ngày lên bài</th>
                                        <th style="width: 125px;">Chuyên mục</th>
                                        <th style="width: 150px;">Họ và tên</th>
                                        <th style="width: 120px;">Bút danh</th>
                                        <th style="width: 200px;">Bài viết</th>
                                        <th style="width: 120px;">Nguồn sx</th>
                                        <th style="width: 120px;">Loại bài</th>
                                        <th style="width: 50px;">Tỷ lệ</th>
                                        <th style="width: 50px;">Loại</th>
                                        <th style="width: 50px;">SL</th>
                                        <th style="width: 90px;">Tiền nhuận</th>
                                        <th style="width: 50px;">SL</th>
                                        <th style="width: 90px;">Tiền nhuận</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of primengTableHelper.records">
                                        <td style="width: 20px;text-align: center;">
                                            <label class="m-checkbox m-checkbox--bold">
                                                <input type="checkbox">
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>{{item.maTin}}</td>
                                        <td>{{item.ngayLenBai | datePipeFormat }}</td>
                                        <td>
                                            {{item.chuyenMuc}}
                                        </td>
                                        <td>
                                            <b style="color: #585858;">{{item.tenNhanSu}}</b>
                                            <br />
                                            <span style="">
                                                MNS: {{item.maNhanSu}} - {{item.viTri}}
                                            </span>
                                        </td>
                                        <td>
                                            {{item.butDanh}}
                                        </td>
                                        <td><a href="{{item.linkBai}}" title="{{item.tenBaiViet}}">{{item.tenBaiViet}}</a></td>
                                        <td>
                                            <label class="m-checkbox">
                                                <input id="closeButton" type="checkbox" value="checked">Sản xuất
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            chưa rõ
                                                <!-- <select class="form-control" id="m_notify_placement_from">
                                                        <option value="top">Tin thường</option>
                                                        <option value="tinhot">Tin hot</option>
                                                    </select> -->
                                            {{item.loaiBaiViet}}
                                        </td>
                                        <td>
                                                {{item.tyLe}}%
                                        </td>
                                        <td>
                                            chưa rõ
                                            <select class="form-control" id="m_notify_placement_from">
                                                <option value="">A</option>
                                                <option value="">B</option>
                                                <option value="">C</option>
                                            </select>
                                        </td>
                                        <td id="thongtinnhuananhinput">
                                            {{item.tongSoLuongAnh}}
                                        </td>
                                        <td>
                                            {{item.tongTienNhuanAnh}}
                                        </td>
                                        <td  id="nhuandowloadinput">
                                            chưa rõ sl nhuân clip
                                        </td>
                                        <td>
                                            Chưa rõ tiền nhuận clip
                                        </td>
                                        <td>
                                            chưa rõ nhuận clip sx
                                        </td>
                                        <td>
                                            {{item.nhuanBaiViet}}
                                          
                                        </td>
                                        <td>
                                                {{item.heSo}}
                                        </td>
                                        <td id="thuongphat">
                                            <span *ngIf="item.phat">{{item.phat}}</span>
                                            <span *ngIf="item.thuong">{{item.thuong}}</span>
                                        </td>
                                        <td>
                                            {{item.tongNhuan}}
                                        </td>
                                        <td>
                                            <div>
                                                <span class="m-badge m-badge--wide m-badge--rounded icon_custom">
                                                    <span>
                                                        <i class="fas fa-eye"></i>
                                                        <span>{{item.tongView}}</span>
                                                    </span>
                                                </span>
                                                <span class="m-badge m-badge--wide m-badge--rounded icon_custom">
                                                    <span>
                                                        <i class="fas fa-desktop"></i>
                                                        <span>{{item.viewWeb}}</span>
                                                    </span>
                                                </span>
                                                <span class="m-badge m-badge--wide m-badge--rounded icon_custom">
                                                    <span>
                                                        <i class="fas fa-mobile-alt"></i>
                                                        <span>{{item.viewMobile}}</span>
                                                    </span>
                                                </span>
                                                <span class="m-badge m-badge--wide m-badge--rounded icon_custom">
                                                    <span>
                                                        <i class="fas fa-share"></i>
                                                        <span>{{item.tongShare}}</span>
                                                    </span>
                                                </span>
                                                <span class="m-badge m-badge--wide m-badge--rounded icon_custom">
                                                    <span>
                                                        <i class="fas fa-thumbs-up"></i>
                                                        <span>{{item.tongLike}}</span>
                                                    </span>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            chưa rõ
                                            <span class="m-badge m-badge--success m-badge--wide">Đã chấm</span>
                                        </td>
                                        <td>
                                            {{item.ghiChu}}
                                        </td>
                                        <td style="text-align: center;">
                                            <a class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details"> <i class="la la-edit"></i> </a>
                                            <a class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete"> <i class="la la-trash"></i> </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                        
                        
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                #paginator
                                                (onPageChange)="getDanhSachChangePage($event)"
                                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

                                </p-paginator>
                                <span class="total-records-count">
                                    {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                                </span>
                            </div>
                    </div>
                  <!--<Primeng-TurboTable-End>-->
          </div>
      </div>
  </div>
</div>
