<div [@routerTransition]>
  <div class="m-subheader">
    <div class="row align-items-center">
        <div class="mr-auto col-auto">
            <h3 class="m-subheader__title">
                <span>Danh sách chấm nhuận</span>
            </h3>
            <div class="m-section__sub">
              Tổng nhuận: 100.000.000
            </div>
        </div>
        <div class="col text-right mt-3 mt-md-0">
            <button class="btn btn-primary"><i class="fa fa-plus"></i> Đồng bộ IMS</button>
        </div>
    </div>
</div>
  <div class="m-content">
      <div class="m-portlet m-portlet--mobile">
          <div class="m-portlet__body">
              <form class="horizontal-form" autocomplete="off">
                  <div class="m-form m-form--label-align-right">
                      <div class="row align-items-center m--margin-bottom-10">
                          <div class="col-xl-12">
                              <div class="form-group m-form__group align-items-center">
                                  <div class="input-group">
                                      <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                      <span class="input-group-btn">
                                          <button class="btn btn-primary" type="submit"><i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i></button>
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="" [hidden]="!advancedFiltersAreShown">
                        <div class="m-accordion__item-content">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="tungay">Từ ngày</label>
                                        <input type="date" class="form-control m-input m-input--square" id="tungay" placeholder="Từ ngày">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="tungay">Đến ngày</label>
                                        <input type="date" class="form-control m-input m-input--square" id="tungay" placeholder="Từ ngày">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="tungay">MNS/Họ và tên</label>
                                        <input type="text" class="form-control m-input m-input--square" id="tungay" placeholder="Họ và tên">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="tungay">Chọn chuyên mục</label>
                                        <select class="form-control form-control-sm form-filter m-input" title="Select">
                                            <option value="">Select</option>
                                            <option value="Argentina">Argentina</option>
                                            <option value="Austria">Austria</option>
                                            <option value="China">China</option>
                                            <option value="Colombia">Colombia</option>
                                            <option value="Croatia">Croatia</option>
                                            <option value="Indonesia">Indonesia</option>
                                            <option value="Thailand">Thailand</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="tungay">Loại bài</label>
                                        <select class="form-control form-control-sm form-filter m-input" title="Select">
                                            <option value="">Select</option>
                                            <option value="Argentina">Argentina</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="tungay">Tag (Dòng trạng thái)</label>
                                        <input type="text" class="form-control m-input m-input--square" id="dongtrangthai" placeholder="Tag( Dòng trạng thái)">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="tungay">Trạng thái</label>
                                        <select class="form-control form-control-sm form-filter m-input" title="Select">
                                            <option value="">Select</option>
                                            <option value="Argentina">Argentina</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="tungay">Đánh giá</label>
                                        <select class="form-control form-control-sm form-filter m-input" title="Select">
                                            <option value="">Select</option>
                                            <option value="Argentina">Argentina</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>

                      <div class="row margin-bottom-10" *ngIf="advancedFiltersAreShown">
                          <div class="col-sm-12 text-right">
                              <button class="btn btn-metal"><i class="fa fa-sync"></i> {{"Refresh" | localize}}</button>
                          </div>
                      </div>
                      <div class="row margin-bottom-10">
                          <div class="col-sm-12">
                              <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{"ShowAdvancedFilters" | localize}}</span>
                              <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{"HideAdvancedFilters" | localize}}</span>
                          </div>
                      </div>
                  </div>
              </form>

                  <!--<Primeng-TurboTable-Start>-->
                    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll" id="scrolling_both" 
                    [busyIf]="primengTableHelper.isLoading">
                        <div class="scrolling" style="overflow: scroll" >
                            <!--begin: Datatable -->
                            <table class="table table-striped- table-bordered table-hover table-checkable" style="width: max-content;display: block;" id="m_table_1"
                            (onLazyLoad)="getDanhSach($event)">
                                
                                <thead>
                                    <tr>
                                        <th colspan="8">THÔNG TIN CHUNG</th>
                                        <th colspan="2">ĐÁNH GIÁ</th>
                                        <th colspan="2">NHUẬN ẢNH</th>
                                        <th colspan="2">NHUẬN CLIP DOWNLOAD</th>
                                        <th rowspan="2">NHUẬN CLIP SX</th>
                                        <th rowspan="2">NHUẬN BÀI</th>
                                        <th rowspan="2">HỆ SỐ</th>
                                        <th rowspan="2">THƯỞNG/PHẠT</th>
                                        <th rowspan="2">TỔNG NHUẬN</th>
                                        <th rowspan="2">TỔNG VIEW</th>
                                        <th rowspan="2">TRẠNG THÁI</th>
                                        <th rowspan="2">GHI CHÚ</th>
                                        <th rowspan="2">HÀNH ĐỘNG</th>
                                    </tr>
                                    <tr>
                                        <th style="width: 80px;">Mã tin</th>
                                        <th style="width: 125px;">Ngày lên bài</th>
                                        <th style="width: 125px;">Chuyên mục</th>
                                        <th style="width: 150px;">Họ và tên</th>
                                        <th style="width: 120px;">Bút danh</th>
                                        <th style="width: 200px;">Bài viết</th>
                                        <th style="width: 120px;">Nguồn sx</th>
                                        <th style="width: 120px;">Loại bài</th>
                                        <th style="width: 50px;">Tỷ lệ</th>
                                        <th style="width: 50px;">Loại</th>
                                        <th style="width: 50px;">SL</th>
                                        <th style="width: 90px;">Tiền nhuận</th>
                                        <th style="width: 50px;">SL</th>
                                        <th style="width: 90px;">Tiền nhuận</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of primengTableHelper.records">
                                        <td>{{item.maTin}}</td>
                                        <td>{{item.ngayLenBai}}</td>
                                        <td>
                                            {{item.chuyenMuc}}
                                        </td>
                                        <td>
                                            <b>{{item.tenNhanSu}}</b>
                                            <br />
                                            <span>
                                                MNS: {{item.maNhanSu}} - {{item.viTri}}
                                            </span>
                                        </td>
                                        <td>Văn Nguyễn
                                        </td>
                                        <td><a href="" title="">Phụ nữ xứ Nghệ vượt biên bán bào thai do cuộc sống…</a></td>
                                        <td>
                                            <label class="m-checkbox">
                                                <input id="closeButton" type="checkbox" value="checked">Sản xuất
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <select class="form-control" id="m_notify_placement_from">
                                                <option value="top">Tin thường</option>
                                                <option value="tinhot">Tin hot</option>
                                            </select>
                                        </td>
                                        <td>
                                            40%
                                        </td>
                                        <td>
                                            <select class="form-control" id="m_notify_placement_from">
                                                <option value="">A</option>
                                                <option value="">B</option>
                                                <option value="">C</option>
                                            </select>
                                        </td>
                                        <td id="thongtinnhuananhinput">
                                            3
                                        </td>
                                        <td>
                                            450
                                        </td>
                                        <td  id="nhuandowloadinput">
                                            3
                                        </td>
                                        <td>450</td>
                                        <td>
                                            100
                                        </td>
                                        <td>55</td>
                                        <td>
                                            1.2
                                        </td>
                                        <td id="thuongphat">
                                            50
                                        </td>
                                        <td>100</td>
                                        <td>
                                            <div>
                                                <span class="icon_custom"><i class="fas fa-eye"></i></span> 100.000
                                            </div>
                                            <div>
                                                <span class="icon_custom"><i class="fas fa-mobile-alt"></i></span> 100.000
                                            </div>
                                            <div>
                                                <span class="icon_custom"><i class="fas fa-share"></i></span> 100.000
                                            </div>
                                        </td>
                                        <td><span class="m-badge m-badge--success m-badge--wide">Đã chấm</span></td>
                                        <td>
                                            Ghi chú
                                        </td>
                                        <td>
                                            <label class="m-checkbox">
                                                <input id="closeButton" type="checkbox" value="checked">
                                                <span></span>
                                            </label>
                                            <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details"> <i class="la la-edit"></i> </a>
                                            <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete"> <i class="la la-trash"></i> </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <table class="m-datatable__table" style="display: block; min-height: 300px; max-height: 350px; overflow: scroll;">
                            <thead class="m-datatable__head">
                                <tr class="m-datatable__row m-datatable__row--active" style="left: 0px;">
                                        <th colspan="6" class="m-datatable__cell">
                                        <span style="width: 977px; text-align: center;">Thông tin chung</span>
                                    </th>
                                    <th colspan="2" class="m-datatable__cell">
                                        <span style="width: 100px; text-align: center;">Đánh giá</span>
                                    </th>
                                        <th colspan="2" class="m-datatable__cell">
                                        <span style="width: 100px; text-align: center;">Đánh giá</span>
                                    </th>
                                    <th colspan="2" class="m-datatable__cell">
                                        <span style="width: 100px; text-align: center;">Đánh giá</span>
                                    </th>
                                    </tr>
                                <tr class="m-datatable__row m-datatable__row--active" style="left: 0px;">
                                    <th class="m-datatable__cell">
                                        <span style="width: 60px;">Mã tin</span>
                                    </th>
                                    <th class="m-datatable__cell">
                                        <span style="width: 120px;">Ngày đăng bài</span>
                                    </th>
                                    <th class="m-datatable__cell">
                                        <span style="width: 120px;">Chuyên mục</span>
                                    </th>
                                    <th class="m-datatable__cell">
                                        <span style="width: 90px;">Họ và tên</span>
                                    </th>
                                    <th class="m-datatable__cell">
                                        <span style="width: 90px;">Bút danh</span>
                                    </th>
                                    <th class="m-datatable__cell">
                                        <span style="width: 150px;">Bài viết</span>
                                    </th>
                                    <th data-field="CompanyAgent" class="m-datatable__cell">
                                        <span style="width: 100px;">Nguồn sx</span>
                                    </th>
                                    <th data-field="Website" class="m-datatable__cell">
                                        <span style="width: 100px;">Loại bài</span>
                                    </th>
                                    <th data-field="Currency" class="m-datatable__cell">
                                        <span style="width: 50px;">Tỷ lệ</span>
                                    </th>
                                    <th data-field="Department" class="m-datatable__cell">
                                        <span style="width: 50px;">Loại</span>
                                    </th>
                                    <th data-field="ShipDate" class="m-datatable__cell">
                                        <span>SL</span>
                                    </th>
                                    <th data-field="TimeZone" class="m-datatable__cell">
                                        <span>SL</span>
                                    </th>
                                    <th data-field="Latitude" class="m-datatable__cell">
                                        <span>Tiền nhuận</span>
                                    </th>
                                    <th data-field="Longitude" class="m-datatable__cell">
                                        <span>NHUẬN CLIP SX</span>
                                    </th>
                                    <th data-field="Status" class="m-datatable__cell">
                                        <span>NHUẬN BÀI</span>
                                    </th>
                                    <th data-field="Type" class="m-datatable__cell">
                                        <span>HỆ SỐ</span>
                                    </th>
                                    <th data-field="Actions" class="m-datatable__cell">
                                        <span>THƯỞNG/PHẠT</span>
                                    </th>
                                    <th data-field="Actions" class="m-datatable__cell">
                                        <span>TỔNG NHUẬN</span>
                                    </th>
                                    <th data-field="Actions" class="m-datatable__cell">
                                        <span>TỔNG VIEW</span>
                                    </th>
                                    <th data-field="Actions" class="m-datatable__cell">
                                        <span>TRẠNG THÁI</span>
                                    </th>
                                    <th data-field="Actions" class="m-datatable__cell">
                                        <span>GHI CHÚ</span>
                                    </th>
                                    <th data-field="Actions" class="m-datatable__cell">
                                        <span>HÀNH ĐỘNG</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="m-datatable__body ps ps--active-x ps--active-y" style="max-height: 299px;">
                                <tr data-row="0" class="m-datatable__row m-datatable__row--active" style="left: 0px;">
                                    <td>
                                        <span>0007-3230 - RU</span>
                                    </td>
                                </tr>
                                <div class="ps__rail-x" style="width: 1211px; left: 0px; bottom: -200px;">
                                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 584px;"></div>
                                </div>
                                <div class="ps__rail-y" style="top: 200px; height: 299px; right: 0px;">
                                    <div class="ps__thumb-y" tabindex="0" style="top: 104px; height: 155px;"></div>
                                </div>
                            </tbody>
                        </table> -->
                        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                            <ul class="m-datatable__pager-nav">
                                <li><a title="First" class="m-datatable__pager-link m-datatable__pager-link--first m-datatable__pager-link--disabled" data-page="1" disabled="disabled"><i class="la la-angle-double-left"></i></a></li>
                                <li><a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev m-datatable__pager-link--disabled" data-page="1" disabled="disabled"><i class="la la-angle-left"></i></a></li>
                                <li style="display: none;"><a title="More pages" class="m-datatable__pager-link m-datatable__pager-link--more-prev" data-page="1"><i class="la la-ellipsis-h"></i></a></li>
                                <li style="display: none;"><input type="text" class="m-pager-input form-control" title="Page number"></li>
                                <li><a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active" data-page="1" title="1">1</a></li>
                                <li><a class="m-datatable__pager-link m-datatable__pager-link-number" data-page="2" title="2">2</a></li>
                                <li><a class="m-datatable__pager-link m-datatable__pager-link-number" data-page="3" title="3">3</a></li>
                                <li><a class="m-datatable__pager-link m-datatable__pager-link-number" data-page="4" title="4">4</a></li>
                                <li><a class="m-datatable__pager-link m-datatable__pager-link-number" data-page="5" title="5">5</a></li>
                                <li><a class="m-datatable__pager-link m-datatable__pager-link-number" data-page="6" title="6">6</a></li>
                                <li><a title="More pages" class="m-datatable__pager-link m-datatable__pager-link--more-next" data-page="7"><i class="la la-ellipsis-h"></i></a></li>
                                <li><a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2"><i class="la la-angle-right"></i></a></li>
                                <li><a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" data-page="35"><i class="la la-angle-double-right"></i></a></li>
                            </ul>
                            <div class="m-datatable__pager-info">
                                <span class="m-datatable__pager-detail">Displaying 1 - 10 of 350 records</span>
                            </div>
                        </div>
                    </div>
                  <!--<Primeng-TurboTable-End>-->
          </div>
      </div>
  </div>
</div>
